* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__header {
  height: 100vh;
  background-image: url("../img/eagle-header_background.jpg");
  overflow: hidden;
}

.container__header-content {
  background: $background-gradient;
  height: 100%;
}
