@mixin size-element {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

$background-gradient: linear-gradient(
  0deg,
  rgba(242, 218, 138, 0.8) 0%,
  rgba(231, 129, 129, 0.8) 100%
);

$main-font-family: "Montserrat-Bold", sans-serif;
$second-font-family: "Roboto", sans-serif;
$tittle-small-font-family: "Kaushan Script", cursive;
$tittle-big-font-family: $main-font-family;
