.clock {
  background: url("../icons/clock.svg");
}

.picture {
  background: url("../icons/picture.svg");
}

.computer {
  background: url("../icons/computer.svg");
}

.sheet {
  background: url("../icons/sheet.svg");
}

.house {
  background: url("../icons/house.svg");
}

.digital {
  background: url("../icons/digital.svg");
}

.work-section {
  @include size-element;
  padding: 40px 10px 20px;

  &__services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 380px));
    gap: 20px;
    padding-top: 20px;
    margin: 0 auto;

    @media (max-width: $breakpoint-desktop) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(1fr, 3);
    }

    @media (max-width: $breakpoint-small-desktop) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1fr, 6);
    }
  }

  &__service {
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "icon title"
      "icon description";
    justify-items: center;
    gap: 10px;
    margin: 0 auto;

    &-icon {
      grid-area: icon;
      width: 52px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-origin: content-box;
    }

    &-title {
      grid-area: title;
      width: 100%;
      font-family: $main-font-family;
      font-size: 14px;
      text-transform: uppercase;
    }

    &-description {
      grid-area: description;
      width: 100%;
      font-family: $second-font-family;
      font-size: 12px;
      color: silver;
    }

    @media (max-width: $breakpoint-desktop) {
      grid-template-columns: 52px minmax(200px, 420px);
    }

    @media (max-width: $breakpoint-small-desktop) {
      grid-template-columns: 52px 320px;
    }
  }
}
